
@font-face {
	font-family: 'DIN Pro Regular';
	src: url('/font/DINPro.eot');
	src: url('/font/DINPro.eot?#iefix') format('embedded-opentype'),
	url('/font/DINPro.woff') format('woff'),
	url('/font/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Bold';
	src: url('/font/DINPro-Bold.eot');
	src: url('/font/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('/font/DINPro-Bold.woff') format('woff'),
	url('/font/DINPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	background: #556574;
	font-size: 16px;
	font-family: "DIN Pro Regular";
}

h1,h2,h3,h4,h5,h6{
	font-family: "DIN Pro Bold";
}

.card{
	height: 200px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	display: block;
}

a.card:hover, a.card:focus{
	text-decoration: none;
	opacity: 0.5;
	cursor: pointer;
}

.card h1{
	text-align: center;
	font-weight: normal;
	font-style:none;
	font-size: 25px;
}


/*Chat*/
#chat{
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

.bubble{
	position: relative;
	background: #ccc;
	border-radius: .4em;
	color: #555;
	text-align: center;
	min-height: 45px;
	padding: 5px;
	margin: 5px;
}

body .bubble-parent{
    display: inline-block;
    margin-right: -16px;
    background: #ff8b7b;
    font-family: DIN Pro Bold;
    padding: 10px;
    padding-right: 15px;
    text-align: center !important;
}

body .bubble-child{
    display: inline-block;
    border: 2px solid #5a6572;
    background: #ffffff;
    font-family: DIN Pro Bold;
    padding: 10px;
    text-align: center !important;
    padding-left: 24px;
}
body .bubble-master{
    display: inline-block;
    background: #ffccdc;
    font-family: DIN Pro Bold;
    padding: 10px;
    text-align: center !important;
}

.end, .bubble-text, .avatar, .child-comment {
    position: relative;
}

.bubble-l-end,  .bubble-m-end{
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 10;
}

.bubble-m-end{
	z-index: auto;
	top: 0;
    left: -2px;
}

.child-comment{
	text-align: left;
}

.child-comment .t{
	max-width: 250px;
    margin-left: 50px;
    background: #97ddbd;
    border-radius: 50%;
    padding: 30px;
    font-family: DIN Pro Bold;
    text-align: center;
    display: inline-block;
}

.child-comment img{
	position: absolute;
    left: 23px;
    bottom: 5px;
}

#chat table td{
	vertical-align: top;
	text-align: left;
}

.avatar{
	width: 45px;
}

.avatar img {
    height: 45px;
    margin-top: 5px;
    border-radius: .4em;
}

.bubble-left:after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-right-color: #ccc;
	border-left: 0;
	border-bottom: 0;
	margin-top: -6.5px;
	margin-left: -13px;
}

.bubble-right:after{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-left-color: #ccc;
	border-right: 0;
	border-bottom: 0;
	margin-top: -6.5px;
	margin-right: -13px;
}

.think {
	background: #f5f5f5;
	color: #888;
	width: 45%;
}

.think:after {
	border-right-color: #f5f5f5;
}

/*Main window*/
#main-window{
	/*background: url(../png/case1.png) no-repeat left bottom;*/
    background-size: contain;
    height: 500px;
}

#main-window.scene-2{
	/*background: url(../img/scene-2.png) no-repeat left bottom;*/
}


/*Questions*/
#questions a{
	display: block;
    width: 100%;
    background: #fff;
    line-height: 25px;
    padding: 15px;
    margin-bottom: 5px;
    color: #444;
    text-decoration: none;
}

#questions a:hover{
	background: #e5e6e8;
}

/*Header*/
.left-header{
	margin-top: 12px;
	margin-left: 15px;	
}



/*pointer*/

#pointer{
	position: relative;
	height: 59px;
	line-height: 65px;
	text-align: center;
}

#parent{
	position: relative;
	height: 54px;
	width: 65px;
	background: url(../img/parent.png) no-repeat 5px bottom;
	color: #fff;
}

#child{
	position: absolute;
	height: 56px;
	width: 56px;
    bottom: 0;
    background: url(../img/child.png) no-repeat left 21px;
    /*border: 1px solid #f00;*/
}

.bage{
	position: absolute;
    top: -10px;
    left: 10px;
    font-family: "Din Pro Bold";
}

.bage.plus{
	color: green;
}

.bage.minus{
	color: red;
}

/*Scale*/
.scale-wrapper{
	position: fixed;
	z-index: 100;
	background: #fff;
	width: 100%;
	top:0;
	min-height: 65px;
	box-shadow: 0px 0px 6px 3px #525050;
}

.scale{
	width: 100%;
	position: relative;
	height: 65px
}

.scale div{
	position: absolute;
	text-align: center;
	background: #ddd;
	border-style: inset;
	border: 1px solid gray;
}

.marged{
	margin-top: 75px;
}

/*Progress bar*/
.holder{
	position: absolute;
    width: 100%;
    height: 40px;
    z-index: 110;
    top: -50px;
}

.status_bar-wrapper{
	width: 100%;
    z-index: 110;
    height: 60px;
    position: absolute;
    top: 0;

}

.start{
	margin: 0 auto;
    display: block;
    cursor: pointer;
}

.comment{
	background: none;
    border: none;
    color: #333;
    text-align: center;
}

/*cards*/
.cards{
	padding-left: 3px;
	max-height: 500px;
	/*overflow: hidden;*/
}

.cardin {
    margin-bottom: 17px;
    padding: 0px;
    background: #fff;
    min-height: 180px;
    display: block;
    width: 100%;
	color: #333;
	text-decoration: none;
	text-align: center;
	height: 465px;
	overflow: hidden;
}



.cardin img{
	margin: 0 auto;
}

.cardin:hover{
	/*background: #c5c5c6;*/
	text-decoration: none;
	color: #b1645a
}

.cardin .text{
	/*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    font-family: "DIN Pro Bold";

}

.cardin .text2{
	position: absolute;
    bottom: 90px;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 1.2em;
    font-family: "DIN Pro Bold";
    color: #333;
}

.menu-a{
	margin-right: 10px;
}

.title-wrapper{
	margin-top: 75px;
	margin-left: 0px;
	color: #fff;
	height: 60px;
	font-size: 120%;
}

.b-w{
	background: #fff;
}

.answers{
	background: #fff;
}

.answers h2{
	font-family: "DIN Pro Bold";
    margin: 0;
    background: #fe8d7f;
    padding: 10px;
    color: #333;
}

.case-img img{
	margin: 0 auto;
}

#chat{
	background: #eeeeee;
}

.instruction{
	background: #fff;
    padding: 30px;
    margin-top: 30px;
}

.intence{
	font-family: "DIN Pro Bold";
    font-size: 1.2em;
}

.m-message{
	margin-bottom: 5px;
	margin-top:5px;
}

/*Achieve*/

.achive{
	position: absolute;
    left: -16px;
    top: -16px;
    background: #fff;
    border: 1px solid #556574;
    border-radius: 50%;
    box-shadow: 0 0 6px #21272d;
   	width: 76px;
    height: 76px;
    z-index: 10;
}

.achive .y{
	display: none;
}

.achive .n{
	opacity: .4;
}

.achive .n:hover{
	cursor: help;
	opacity: .6;
}

.achive img {
    position: absolute;
    top: 4px;
    left: 4px;
}

.grayscale{
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);*/
	opacity: .5;
}