.sticker{
	background: #5bc0de;
	width:100%;
	min-height: 300px;
	position: relative;
	padding: 10px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 6px #9e9d9d;
	height: 430px;
	overflow: auto;
}

.sticker .btns{
	position: absolute;
    bottom: 10px;
    right: 10px;
}

.t_answer{
	font-size: 75%;
    font-weight: bold;
    color: #fff;
    background: #5cb85c;
    padding: 2px;
    margin: 2px
}

.properties{
	width: 0;
    height: 360px;
    overflow-y: auto;
    background: #f7ed96;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    box-shadow: 3px 0px 8px #72a2b1;
    padding: 10px;
}

.event_add{
	cursor: pointer;
}

.group{
	padding: 10px;
    border: 3px dashed #398298;
    margin-bottom: 5px;
    position: relative;
    border-radius: 6px;
}

.group-title {
    position: absolute;
    top: -12px;
    left: 35%;
    margin: 0 auto;
    background: #5bc0de;
    color: #fff;
    padding: 2px;
    font-size: 80%;

}

.groups{
	position: absolute;
    left: 5%;
    top: 5%;
    height: 400px;
    background: #fff;
    width: 90%;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #333;
    display: none;
    z-index: 100;
}

.answer-form{
	background: #d9e6ec;
    padding: 10px;
    border: 1px solid #607D8B;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 2px #a7aeb1;
    width: 70%;
    position: absolute;
    z-index: 99;
    padding-right: 30px;
    display: none;
}

.answer-wrapper{
	border-bottom: 1px solid #bbcbd2;
    margin-left: 10px;
}

.question{
	margin-bottom: 10px;
}